$primary-color: #FFFFFF;
$primary-dark-color: #f8f8f8;
$primary-darker-color: #e0e0e0;

$gray-lighter-color: #cbcbcb;
$gray-light-color: #b4b4b4;
$gray-color: #8c8c8c;
$gray-dark-color: #565656;

$secondary-color: #5E7B89;
$secondary-light-color: #6294AC;
$secondary-dark-color: #567381;
$accent-color: #d54b44;
$accent-color-dark: #c24e47;
$accent-color-light: #E8665F;

$text-white-color: #FFFFFF;
$text-white-dark-color: #D6D6D6;
$text-white-darker-color: #cccccc;
$text-gray-color: #808080;
$text-black-color: #000000;
$text-black-light-color: #191919;
$text-black-lighter-color: #2E2E2E;
