@mixin button-font {
  font-size: 0.9rem;
  font-weight: 300;
}

@mixin text-font {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 150%;
}

@mixin text-small-font {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 150%;
}

@mixin text-medium-font {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 150%;
}

@mixin text-large-font {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 150%;
}

@mixin h1-font {
  font-size: 3rem;
  font-weight: 500;
}

@mixin h2-font {
  font-size: 2rem;
  font-weight: 400;
}

@mixin h3-font {
  font-size: 1.5rem;
  font-weight: 400;
}
