@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: $text-black-lighter-color;
    font-family: "Roboto", "Сalibri", sans-sarif;

    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: $primary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gray-light-color;
}

.title-main {
  @include h1-font;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.margin-top-block {
  margin-top: 48px;
}

.margin-bottom-block {
  margin-bottom: 48px;
}

.max-width-block {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
